body{
    background-color:gray;
    padding:0;
    margin:0;
    width: 100%;
}


.textscreen{
    background-color:white;
    border-radius:10px;
    padding: 20px;
    width: 50px;
    margin-right:50px;
    width: 100px; 
        text-align: center;
        align-items: center;
        align-content: center;
        margin-left: 20%;
}

.controller{
    background-color:lightsteelblue;   
    background-size: 5px;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 20%;
    border-radius: 30px;
    align-items: center;
    align-content: center;
    margin-left: 10%;
    }
    
    .controller1 button{
        border-radius: 20px;
        padding: 20px; 

      
    }

    .controller1{
        width: 100px; 
        text-align: center;
        align-items: center;
        align-content: center;
        margin-left: 20%;
    }

    .controller234 button{
        
        border-radius: 20px;
        padding: 20px;
        
    }

    .controllerright{
        background-color:white;
        background-size: 5px;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 30px;
    width: 20%;
    border-radius: 30px;
    align-items: center;
    align-content: center;
    margin-left: 30%;
    margin-bottom: 30%;
    margin-right: 30%;
    


    }

    .aksib button{
        border-radius: 20px;
        padding: 20px; 
        background: pink;
    }

    .aksia button{
        border-radius: 20px;
        padding: 20px; 
        background:pink;
        margin-left:20%;
        
    }

    