body{
    background-color:gray;
    padding:0;
    margin:0;
    width: 100%;
}


.textscreen{
    background-color:white;
    border-radius:10px;
    padding: 20px;
    width: 50px;
    margin-right:50px;
}

.controller{
    background-color:lightsteelblue;   
    background-size: 5px;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 20%;
    border-radius: 30px;
    }
    
    .controller1 button{
        border-radius: 20px;
        padding: 20px; 
        width: 100px; 
        text-align: center;
    }

    .controller234 button{
        
        border-radius: 20px;
        padding: 20px;
        
    }

    .controllerright{
        background-color:white;
    }

    .aksib{
        border-radius: 20px;
        padding: 20px; 
    }

    .aksia{
        border-radius: 20px;
        padding: 20px; 
    }

    